<div class="users-list">
  <ng-container *ngIf="users">
    <div *ngFor="let user of users"
         class="user-item"
         [ngClass]="{
       'bg-green':user.Status === 'Assured',
       'bg-aqua':user.Status === 'In Progress',
       'bg-red':user.Status === 'Non-Complient',
       'bg-gray':user.Status === 'Pending'
       }">
      <h3>{{user.Shipper}}</h3>
      <p>B.O.L.: {{user.BOL}}</p>
      <p>Phone: {{user.Phone}}</p>
      <p>Email: {{user.Email}}</p>
      <br>
      <p>Driver: {{user.Driver}}</p>
      <p>Phone: {{user.DriverPhone}}</p>
      <div class="actions-list">
        <button class="edit-btn"></button>
        <button (click)="removeFromArray(users, user)" class="remove-btn"></button>
      </div>
    </div>
  </ng-container>
</div>
