<div class="users-list">
  <div *ngFor="let user of users"
       class="user-item"
       [ngClass]="{
       'bg-green':user.admin,
       'bg-aqua':user.manager,
       'bg-red':user.superman
       }">
    <h3>{{user.name}}</h3>
    <p>Phone: {{user.phone}}</p>
    <p>Email: {{user.email}}</p>
    <br>
    <p>Driver: {{user.driver}}</p>
    <p>Phone: {{user.phoneDriver}}</p>
    <div class="actions-list">
      <button class="edit-btn"></button>
      <button (click)="removeFromArray(users, user)" class="remove-btn"></button>
    </div>
  </div>
</div>
